button {
  padding: 10px 20px;
  border: none;
  background-color: #F8C794;
  color: white;
  font-weight: bold;
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: #D8AE7E;
}

.remove-button,
.confirm-button {
  padding: 3px 10px;
  font-size: 18px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.remove-button {
  background-color: #C68484;
  color: white;
}

.remove-button:hover {
  background-color: #9B4444;
}

.confirm-button {
  background-color: #F8C794;
  color: white;
}

.confirm-button:hover {
  background-color: #D8AE7E;
}
