@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap');

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.header h1 {
  margin-right: 5px;
  font-family: 'Gabriola', 'Comic Sans MS', 'Bradley Hand', sans-serif;
}

.header img {
  height: 70px;
  width: auto;
}
