.base-container {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
}

.custom-date-picker {
  width: 100%;
  max-width: 400px;
  padding: 10px;
  font-size: 18px;
}

.date-picker-container {
  background-color: white;
  padding: 5px;
  width: 140px;
}

 .display-All {
  width: 150px;
  padding: 5px;
  font-size: 10px;
  padding: 5px;
  border: 1px solid #333; 
  border-radius: 5px;
}

.popup-message {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  padding: 10px 20px;
  background-color: #DBB5B5;
  color: white;
  border: 1px solid #DBB5B5;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}
