/* .select-seat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #fff;
  width: 90%;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}


.menu-button {
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

h1 {
  font-size: 36px;
} 

*/

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 400px;
  margin-top: 20px;
}

label {
  font-size: 13px;
  margin-bottom: 10px;
  text-align: center;
}

input {
  width: 50%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 30px;
  margin-bottom: 20px;

}

.confirm-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #F8C794;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.confirm-button:hover {
  background-color: #D8AE7E;
}

.error-message {
  color: red;
  margin-top: 10px;
} 
